"*":
  core:
    disabledPackages: [
      "background-tips"
      "language-babel"
      "vim-mode"
    ]
    projectHome: "/Users/drew.delianides/Projects"
    themes: [
      "seti-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    scrollPastEnd: true
  "ex-mode":
    splitbelow: true
  "exception-reporting":
    userId: "a67c98af-a2ff-ed93-7401-5fca84b6e48e"
  "git-diff":
    showIconsInEditorGutter: true
  "markdown-writer":
    fileExtension: ".md"
  "one-dark-ui":
    layoutMode: "Compact"
  pigments:
    markerType: "gutter"
    sassShadeAndTintImplementation: "bourbon"
  react:
    enabledForAllJavascriptFiles: true
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "terminal-plus":
    style:
      theme: "homebrew"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
